{% extends "core/base.html" %}

{% block content %}

<div class="detail-container">

    <div class="card form-card">
        <h2>@{{ profile_user.username }}</h2>
        <p>Toplam Post: {{ user_posts.count }}</p>
    </div>

</div>

<div class="posts-container">

    {% if user_posts %}
        {% for post in user_posts %}
            <div class="card">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content|truncatewords:20 }}</p>
                <a href="{% url 'post_detail' post.id %}" class="standart-btn">
                    Postu Oku →
                </a>
            </div>
        {% endfor %}
    {% else %}
        <div class="card">
            <p>Henüz post yazılmadı.</p>
        </div>
    {% endif %}

</div>

{% endblock %}
